# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

GEOSERVER_URL=
GEOSERVER_USER=
GEOSERVER_PASSWORD=
GEOSERVER_WORKSPACE=
DB_USER=
DB_PSWD=
DB_HOST=
DB_PORT=
DB_NAME=